  * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }



        .main {
            width: 100%;
            box-shadow: 0 .0vw 1vw rgba(0, 0, 0, .45);
        }


        .visit {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.7vw;
            padding: 0.3vw 1vw;
            flex-wrap: wrap;
            gap: 1vw;
        }



        .cruise {
            display: flex;
            justify-content: center;
            gap: 1.5vw;
            align-items: center;
            flex-wrap: wrap;
            font-size: 1vw;
            padding: .7vw 0;

        }

        .cruise img {
            width: 14vw;
            height: auto;
        }

        .cruise p {
            margin: 0;
            cursor: pointer;
        }

        #srch {
            width: 12vw;
            border-radius: 0.4vw;
            height: 3vh;
            font-size: 1vw;
            border: 1px solid #ccc;
            padding: 0.2vw 0.5vw;
        }

        #srch::placeholder {
            color: gray;
            font-size: 0.9vw;
        }

        /* HOVERRRRRR */
        .cruise p:hover {
            color: rgb(5, 182, 253);
        }

        .visit p:last-child {
            color: rgb(5, 182, 253);
        }

        .themed {
            position: sticky;
            top: 0;
            background-color: white;
            display: flex;
            justify-content: center;
            gap: 1.6vw;
            align-items: center;
            flex-wrap: wrap;
            font-size: 1.1vw;
            height: 6.9vh;
            margin-bottom: .7vh;
            transition: box-shadow 0.3s ease;
            z-index: 10;
            margin-top: 1vh;

        }

        .themed img {
            width: 6vw;
            height: auto;
        }

        .view {
            background-color: rgb(0, 200, 255);
            color: white;
            border-radius: 2vw;
            width: 10vw;
            align-items: center;
            display: flex;
            justify-content: center;
            height: 4.4vh;
            margin-left: 2vw;
        }


        .vid {
            position: relative;
            width: 100%;
            height: 90vh;
            overflow: hidden;
        }

        #vido {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }

        .vid-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: white;
            z-index: 1;
        }

        .vid-content img {
            width: 12vw;
            height: auto;
            margin-bottom: 1vw;
        }

        .vid-content p {
            font-size: 2.1vw;
            font-weight: bold;
            margin: 0;
        }

        .gradient {
            background-image: url("https://assetstorev1-prd-cdn.unity3d.com/key-image/09858d59-c2a3-4dd1-9bd5-dd4154617436.png"), linear-gradient(#1268B3, #0C2C6C, #09084D);

            background-blend-mode: lighten;
            background-repeat: repeat;
            width: 100%;
            height: 400vh;
        }

        .fst {
            color: white;
            font-size: 1.4vw;


            line-height: 3vh;
            text-align: center;
            padding-left: 23vh;
            padding-right: 23vh;
            padding-top: 10vh;
            padding-bottom: 5vh;


        }
.imgmain{
    display: flex;
     justify-content: center;
            align-items: center;
}
        .images {
            display: flex;
             justify-content: center;
            gap: .7vw;
         
            width: 70vw;
            .one {
                background-image: url("https://cdn1.parksmedia.wdprapps.disney.com/resize/mwImage/1/1000/1000/75/vision-dam/digital/parks-platform/parks-global-assets/disney-cruise-line/ships/adventure/rendering/overview/NEW_MAIN_IMAGE-16x9-iu-16x9.jpg?2024-10-14T20:47:04+00:00");
                width: 75%;
                height: 55vh;
                background-size: cover;
                border-radius: 1.5vw;
                color: white;
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
            }

            .two {
                width: 20%;
            }

            .two img {
                height: 27.5vh;
                border-radius: 1.5vw;
                padding-top: .5vh;
            }
        }
      @media (max-width: 600px) {
  .images {
    width: 95vw;
    gap: .8rem;
    flex-wrap: wrap;
  }

  .images .one {
    height: 34vh;
  }

  .images .two img {
    height: auto;
    border-radius: .8rem;
    width: 100%;
  }
}

        .state {
            color: white;
            font-size: 4vw;
            display: flex;
            padding-top: 10vh;
        }

        .state img {
            width: 44vw;
            height: 5vh;
        }

        .con {
            color: white;
            width: 30vw;
            line-height: 3.1vh;
            padding-left: 5.7vw;
            padding-top: 5vh;
        }

        .photo {
            width: 55vw;
            height: 55vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-image: url("https://cdn1.parksmedia.wdprapps.disney.com/vision-dam/digital/parks-platform/parks-global-assets/disney-cruise-line/ships/adventure/rendering/accommodations/concierge_05-iu-16x9.jpg?2024-10-14T23:24:04+00:00");
            border-radius: 1vw;
            margin-left: 3vw;
        }

        .father {
            display: flex;
            width: 100%;
            padding-top: 7vh;
            padding-left: 3vw;
            justify-content: center;
            align-items: center;
        }

        .father1 {
            display: flex;
            width: 100%;
            padding-top: 7vh;
            padding-left: 8.7vw;
            justify-content: center;
            align-items: center;
        }

        .photo1 {
            background-image: url("https://cdn1.parksmedia.wdprapps.disney.com/resize/mwImage/1/1000/1000/75/vision-dam/digital/parks-platform/parks-global-assets/disney-cruise-line/ships/adventure/rendering/accommodations/Verandah_03-1-16x9-iu-16x9.jpg?2024-10-14T21:06:26+00:00");
            width: 55vw;
            height: 55vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            border-radius: 1vw;
        }

        .con1 {
            color: white;
            width: 30vw;
            line-height: 3.1vh;
            padding-top: 5vh;
            padding-left: 4vw;
        }

        .photo3 {
            background-image: url("https://cdn1.parksmedia.wdprapps.disney.com/resize/mwImage/1/1000/1000/75/vision-dam/digital/parks-platform/parks-global-assets/disney-cruise-line/ships/adventure/rendering/accommodations/Oceanview-Stateroom_02-16x9-iu-16x9.jpg?2024-10-14T21:06:26+00:00");
            width: 55vw;
            height: 55vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            border-radius: 1vw;
        }

        .photo4 {
            background-image: url("https://cdn1.parksmedia.wdprapps.disney.com/resize/mwImage/1/1000/1000/75/vision-dam/digital/parks-platform/parks-global-assets/disney-cruise-line/ships/adventure/rendering/accommodations/Oceanview-Stateroom_02-16x9-iu-16x9.jpg?2024-10-14T21:06:26+00:00");
            width: 55vw;
            height: 55vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            border-radius: 1vw;
        }

        .area {
            display: flex;
            width: 80%;
            margin-left: 16vw;
            flex-wrap: wrap;
        }

        .six {
            display: flex;
            background-color: white;
            width: 22vw;
            height: 8.4vh;
            color: black;
            border-radius: .6vw;
            margin: .6vw;
        }

        .six img {
            height: 5vh;
            margin: 1vw;
        }

        .six p {
            margin-top: 1.6vw;
            font-size: 1vw;
        }

        .arr {
            margin-left: 8vw;
        }

        .cyan {
            width: 100%;
            height: 60vh;
            background: linear-gradient(rgb(0, 200, 255), rgb(66, 66, 66));
            color: white;
        }

        .cyan img {
            height: 20vh;
            margin-left: 46vw;
            margin-top: 6vh;
        }

        .dibba {
            width: 55vw;
            margin-left: 25vw;
            text-align: center;
            font-size: 1.3vw;
            margin-top: 5vh;
        }

        .night {
            display: flex;
            /* margin-bottom: 15vh; */
        }

        .pic {
            width: 16vw;
            height: 24vh;
            margin-left: 1vw;
            box-shadow: 0 .3vw .8vw rgba(0, 0, 0, 0.2);
            border-radius: 0.8vw;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            background-color: rgb(255, 255, 255);
        }

        .pic p {
            font-size: 1vw;
        }

        .pic1 {
            margin-left: 35vw;
        }

        .pic img {
            width: 16vw;
            height: 18vh;
            border-radius: 1vw;
            margin-top: 0vh;
        }

        .para {
            width: 60vw;
            margin-left: 20vw;
        }

        .para p {
            text-align: center;

        }

        .big {
            display: flex;
            margin: 4vw;
            width: 60vw;
            margin-left: 20vw;
        }

        .small {
            font-size: .8vw;
            width: 20vw;

        }

        .small p {
            margin-bottom: .9vw;
        }

        .he {
            font-weight: bold;
            font-size: .9vw;
            margin-top: 3vh;
        }

  @media (max-width: 600px) {
    .photo{
        height: 20vh;
    }
      .photo1{
        height: 20vh;
    }
      .photo3{
        height: 20vh;
    }
      .photo4{
        height: 20vh;
    }
    .gradient{
        height: 300vh;
    }
    .pic img{
        height: 10vh;
    }
    .pic{
        height: 15vh;
    }
  .fst p{
        font-size: 3vw;
        padding: 0;
    }
    .fst{
        width: 70vw;
        padding-left: 27vw;
        padding-right: 0;
    }
    .vid img{
        width: 40vw;
    }
    .vid p{
        font-size: large;
    }
    .boook{
padding-left: 10vw;
padding-right: 10vw;
    }
    .dibba p{
        font-size: 3vw;
    }
    .cyan img{
        width: 50vw;
        margin-left: 27vw;
    }
  }      